<mat-sidenav mode="side" class="example-sidenav" [style.width.px]=sidenavWidth opened="true" (mouseenter)="increase(); sidebarService.openSidebar()"
             (mouseleave)="decrease(); sidebarService.closeSidebar()" style="height: 100%; position: fixed; z-index: 1;">
  <div>
    <button mat-button routerLink="/">
      <div class="iconContainer">
        <mat-icon class="icon-color" [ngClass]="{iconS: sidenavWidth > 40}">category</mat-icon>
        <div *ngIf="sidenavWidth > 80">
          <span class="buttonDesc">Category</span>
        </div>
      </div>
    </button>
    <br>
    <button mat-button routerLink="/notes">
      <div class="iconContainer">
        <mat-icon class="icon-color" [ngClass]="{iconS: sidenavWidth > 40}">description</mat-icon>
        <div *ngIf="sidenavWidth > 80">
          <span class="buttonDesc">Note</span>
        </div>
      </div>
    </button>
    <mat-divider></mat-divider>
    <mat-card-subtitle style="color: rgba(0,0,0,0.54); padding: 16px 0 0 16px" *ngIf="sidenavWidth > 80">Management</mat-card-subtitle>
    <button mat-button routerLink="#">
      <div class="iconContainer">
        <mat-icon class="icon-color" [ngClass]="{iconS: sidenavWidth > 40}">delete</mat-icon>
        <div *ngIf="sidenavWidth > 80">
          <span class="buttonDesc">Trash</span>
        </div>
      </div>
    </button>
    <br>
    <button mat-button routerLink="#">
      <div class="iconContainer">
        <mat-icon class="icon-color" [ngClass]="{iconS: sidenavWidth > 40}">settings</mat-icon>
        <div *ngIf="sidenavWidth > 80">
          <span class="buttonDesc">Settings</span>
        </div>
      </div>
    </button>
  </div>
</mat-sidenav>
