.hidden {
  margin-left: -200px;
}

.container-personal-info {
  max-height: 150px;
  width: 265px;
  background-color: rgb(40,53,147);
  color: white;
  padding: 80px 20px 20px 20px;
}

.name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 24px;
}

.email {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 20px;
}

button {
  font-size: inherit;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.iconContainer {
  text-decoration: none;
  margin: 5px;
  display: flex;
}

.iconS {
  margin: 5px 30px 0 0;
}

.icon-color {
  color: #737373;
}

.buttonDesc {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 24px;
}

/** New sidebar **/

.example-sidenav-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  background-color: whitesmoke;
}
.active{
  background-color:rgba(9, 30, 66, 0.25);
}
