<h2 class="category-space card-section">My category</h2>
<div class="card-container">
  <div *ngFor="let card of cards">
    <mat-card class="example-card">
      <mat-card-header>
        <div style="display: flex; width: 100%; justify-content: flex-end">
          <button mat-icon-button>
            <mat-icon style="color: white">close</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <div routerLink="/detail/{{card.name}}" style="width: 300px; height: 120px; position: relative !important; cursor: pointer">
        <div class="title-card center-category">{{card.name}}</div>
      </div>
    </mat-card>
  </div>
</div>

<nav class="container">
  <a target="_blank" tooltip="Aggiugi sito" class="buttons" (click)="addSite()">
    <mat-icon class="center-icon-add">description</mat-icon>
  </a>
  <a tooltip="Aggiungi categoria" class="buttons" (click)="addCategory()">
    <mat-icon class="center-icon-add">folder</mat-icon>
  </a>
  <a tooltip="Menu" class="buttons">
    <span>
      <span class="rotate"></span>
    </span>
  </a>
</nav>