<h2 class="category-space card-section">My category</h2>
<div class="card-container">
  <div *ngFor="let card of cards">
    <a routerLink="/detail/{{card.name}}">
      <mat-card class="example-card">
        <mat-card-content>
          <span class="title-card">{{card.name}}</span>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>

<nav class="container">
  <a target="_blank" tooltip="Aggiugi sito" class="buttons" (click)="openDialog()">
    <mat-icon class="center-icon-add">description</mat-icon>
  </a>
  <a tooltip="Aggiungi categoria" class="buttons">
    <mat-icon class="center-icon-add">folder</mat-icon>
  </a>
  <a tooltip="Menu" class="buttons">
    <span>
      <span class="rotate"></span>
    </span>
  </a>
</nav>