<div class="card-authentication">
    <mat-card class="p-50">
        <a routerLink="/" class="arrow-positioning">
            <button mat-icon-button class="button-back cursor-pointer">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </a>
        <h2 class="text-center">Sign-up</h2>
        <form (ngSubmit)="onSubmit()">

            <div class="d-flex content-center">
                <mat-form-field appearance="outline" class="w-500">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div class="d-flex content-center">
                <mat-form-field appearance="outline" class="w-500">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="pwd">
                    <mat-error *ngIf="pwd.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex content-center">
                <mat-form-field appearance="outline" class="w-500">
                    <mat-label>Phone</mat-label>
                    <input matInput (keypress)="numberOnly($event)" type="text" [formControl]="phone">
                    <mat-error *ngIf="phone.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex content-center w-100" appearance="outline">
                <button mat-raised-button color="primary" class="py-2 w-50">Sign-up</button>
            </div>
        </form>
    </mat-card>
</div>