.example-tree-progress-bar {
  margin-left: 30px;
}

.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#3f51b5;
  color:#FFF;
}

.button-back {
  border: none;
  background-color: transparent;
}

.card-section {
  background-color: #fafafa;
  padding: 30px;
}

.attributes-card {
  background-color: white;
  cursor: pointer;
}
