<div *ngIf="card" class="card-section">

  <div *ngFor="let cardDetail of card">
    <div style="display: flex">
      <button (click)="goBack()" class="button-back cursor-pointer"><mat-icon>arrow_back</mat-icon></button>
      <h2>Category: {{cardDetail.name}}</h2>
    </div>
    <mat-list>
      <h3 mat-subheader>Folders</h3>
      <mat-divider></mat-divider>
      <mat-list-item class="attributes-card" *ngFor="let cardAttributes of cardDetail.attributes" (click)="openModalAttribute(cardAttributes)">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{cardAttributes.site}}</h4>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <button mat-fab class="float" (click)="openDialog(cardDetail.name)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
