<div class="top-bar" xmlns="http://www.w3.org/1999/html">
    <h3 class="title-modal">Elimina sito</h3>
    <button class="close-modal-button" (click)="closeDialog()">
        <img src="../../assets/baseline_close_white_48dp.png" alt="chiudi" width="24" height="24">
    </button>
</div>
<div class="padding-modal position-relative">
    <mat-card-title style="margin: auto">
        <p>Vuoi davvero eliminare questo sito?</p>
    </mat-card-title>

    <div style="display: flex; justify-content:flex-end;">
        <button mat-raised-button (click)="closeDialog()" style="margin-right:20px">Annulla</button>
        <button mat-raised-button color="warn" (click)="deleteSite()">Elimina</button>
    </div>
</div>