<div class="top-bar" xmlns="http://www.w3.org/1999/html">
  <h3 class="title-modal">Modifica sito</h3>
  <button class="close-modal-button" (click)="closeDialog()">
    <img src="../../assets/baseline_close_white_48dp.png" alt="chiudi" width="24" height="24">
  </button>
</div>
<!--FIXME: fix problem with data already there-->
<div class="padding-modal">
  <form>
    <mat-form-field class="form-url">
      <input matInput #input placeholder="URL:" [value]="data.attributes.url" [formControl]="url" required>
      <mat-error *ngIf="url.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="user-container">
      <mat-form-field class="name-width">
        <input matInput #input placeholder="Nome:" [value]="data.attributes.name" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="name-width">
        <input matInput #input placeholder="Scegli categoria:" [value]="data.currentCategory" (click)="setCategory()"
          *ngIf="!categoryShow" required>
        <mat-select class="category-style" *ngIf="categoryShow" placeholder="Scegli categoria:" [formControl]="category"
          required>
          <mat-option *ngFor="let currentCategory of data.listCategories" [value]="currentCategory.name">
            {{currentCategory.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="category.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="site-section">
      <mat-form-field class="name-width">
        <input matInput #input placeholder="Nome utente:" [value]="data.attributes.username" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="name-width">
        <input matInput #input placeholder="Password:" type="password" [value]="data.attributes.pwd" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="note-section">
      <textarea matInput placeholder="Note" [value]="data.attributes.note"></textarea>
    </mat-form-field>

    <div class="button-section">
      <button mat-raised-button class="button-space" (click)="closeDialog()">Annulla</button>
      <button mat-raised-button color="primary" (click)="closeDialog()">Salva</button>
    </div>
  </form>

</div>