<!-- Toolbar -->
<div *ngIf="logged">
  <div class="top-bar-login example-toolbar">
    <button mat-icon-button class="menu-placement" (click)="sideNavService.toggleSideNav()">
      <mat-icon class="white">menu</mat-icon>
    </button>
    <a routerLink="/">
      <img src="../assets/logo.png" alt="" width="200" class="cursor-pointer logo-placement">
    </a>
    <input type="text" class="search-style" placeholder="Cerca {{rappresentativeElement}}" />
    <mat-select placeholder="{{username}}" style="width: 300px; margin-top: 20px">
      <mat-option [routerLink]="['/login']" style="text-align: center">
        Logout
      </mat-option>
    </mat-select>
  </div>
</div>