<!-- Toolbar -->
<div *ngIf="logged">
  <div class="top-bar-login example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-placement">
      <mat-icon class="white">menu</mat-icon>
    </button>
    <a routerLink="/">
      <img src="../assets/logo.png" alt="" width="200" class="cursor-pointer logo-placement">
    </a>
    <input type="text" class="search-style" placeholder="Cerca" />
    <mat-select placeholder="{{username}}" style="width: 300px; margin-top: 20px">
      <mat-option [routerLink]="['/login']" style="text-align: center">
        Logout
      </mat-option>
    </mat-select>
  </div>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
      (closed)="events.push('close!')" style="z-index:1000000000">
      <mat-nav-list>
        <a mat-list-item routerLink="/">Siti</a>
        <a mat-list-item routerLink="/notes">Note</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>