<div class="card-authentication">
  <mat-card class="p-50">

    <form (ngSubmit)="onSubmit()">
      <a routerLink="/" class="arrow-positioning">
        <button mat-icon-button class="button-back cursor-pointer">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </a>
      <p>Inserisci la tua email</p>
      <mat-form-field class="example-full-width">
        <input matInput [formControl]="userEmail" placeholder="Email">
      </mat-form-field>
      <button mat-raised-button color="primary">Invia</button>
      <p *ngIf="responseEmail">{{responseEmail.message}}</p>
    </form>
  </mat-card>
</div>