<div class="card-authentication">
  <mat-card class="p-50">
    <a routerLink="/" class="arrow-positioning">
      <button mat-icon-button class="button-back cursor-pointer">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </a>
    <form (ngSubmit)="onSubmit()" *ngIf="!responseEmail">
      <p class="text-center">Inserisci la tua email</p>
      <div class="d-flex content-center w-100">
        <mat-form-field appearance="outline" class="w-500">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="userEmail" />
          <mat-error *ngIf="userEmail.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex content-center w-100" appearance="outline">
        <button mat-raised-button color="primary" class="py-2 w-50">Invia</button>
      </div>
    </form>
    <p *ngIf="responseEmail">{{responseEmail.message}}</p>
  </mat-card>
</div>