<div style="max-width: 750px;margin: 100px auto;">
    <mat-card style="padding: 50px">
        <h2 style="text-align: center">Login</h2>
        <form (ngSubmit)="onSubmit()">

            <div style="display: flex; justify-content: center;">
                <mat-form-field appearance="outline" style="width: 500px">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email"
                        [ngClass]="{ 'is-invalid': submitted && email.errors }" />
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            
            <div style="display: flex; justify-content: center;">
                <mat-form-field appearance="outline" style="width: 500px">
                    <mat-label>Password</mat-label>
                    <input matInput [formControl]="pwd"
                        [ngClass]="{ 'is-invalid': submitted && pwd.errors }" type="password" />
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <p style="margin-top: 0">Non ti sei ancora iscritto? <a routerLink="/sing-up">Clicca qui.</a></p>
                <div>
                    <button mat-raised-button color="primary" [disabled]="loading">Login</button>
                </div>
            </div>
            <div *ngIf="error">{{error}}</div>
        </form>
    </mat-card>
</div>