<div style="max-width: 750px;margin: 100px auto;">
    <mat-card style="padding: 50px">
        <h2 style="text-align: center">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div style="display: flex; justify-content: center;">
                <mat-form-field appearance="outline" style="width: 500px">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: center;">
                <mat-form-field appearance="outline" style="width: 500px">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password">
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <p style="margin-top: 0">Non ti sei ancora iscritto? <a routerLink="/sing-up">Clicca qui.</a></p>
                <div>
                    <button mat-raised-button color="primary" [disabled]="loading">Login</button>
                </div>
            </div>
            <div *ngIf="error">{{error}}</div>
        </form>
    </mat-card>
</div>