<div class="card-authentication">
    <mat-card class="p-50">
        <h2 class="text-center">Login</h2>
        <form (ngSubmit)="onSubmit()">

            <div class="d-flex content-center">
                <mat-form-field appearance="outline" class="w-500">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email"
                        [ngClass]="{ 'is-invalid': submitted && email.errors }" />
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            
            <div class="d-flex content-center">
                <mat-form-field appearance="outline" class="w-500">
                    <mat-label>Password</mat-label>
                    <input matInput [formControl]="pwd"
                        [ngClass]="{ 'is-invalid': submitted && pwd.errors }" type="password" />
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div class="d-flex content-space-around">
                <p class="mt-0" style="font-size: 15px;">Non ti sei ancora iscritto? <a routerLink="/sing-up">Clicca qui.</a></p>
                <p class="mt-0" style="font-size: 15px;"><a routerLink="/recover-password">Hai dimenticato la password?</a></p>
            </div>
            <div class="d-flex content-center w-100" appearance="outline">
                <button mat-raised-button color="primary" class="py-2 w-50">Login</button>
            </div>
            <div *ngIf="error">{{error}}</div>
        </form>
    </mat-card>
</div>