<div class="top-bar">
    <h3 class="title-modal">Aggiungi una nota</h3>
    <button class="close-modal-button" (click)="closeDialog()">
        <img src="../../assets/baseline_close_white_48dp.png" alt="chiudi" width="24" height="24">
    </button>
</div>

<!-- fix parametri note -->
<div class="padding-modal position-relative">
    <form (ngSubmit)="onSubmit()" #siteForm="ngForm">
        <mat-form-field class="form-url">
            <input matInput #inputUrl placeholder="URL:" [formControl]="url" required>
            <mat-error *ngIf="url.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </form>
</div>