<app-nav-bar></app-nav-bar>
<div style="display: flex">
  <app-side-bar *ngIf="sideNavService.hideSideNav" class="sidebar"></app-side-bar>
  <div class="card-section" style="width: 100%" [style.marginLeft.px]=sideBarService.sidebarWidth>
    <h3 mat-subheader>Notes</h3>
    <mat-divider></mat-divider>
    <mat-card *ngFor="let categoryNote of categoriesNote; let i = index;" class="space-note" [attr.data-index]="i" style="padding: 0;">
      <mat-card-header [ngClass]="{margin: !collapsed[i]}" (click)="collapsed[i] = !collapsed[i];" style="cursor: pointer; background-color: #3f51b5;">
        <h3 style="color: white;">{{categoryNote.category}}</h3>
      </mat-card-header>
      <mat-card-content *ngIf="!collapsed[i]">
        <mat-divider></mat-divider>
        <div class="sticky" *ngFor="let noteCategory of categoryNote.notes" style="margin-top: 30px;">
          <mat-icon mat-list-icon style="float: right; cursor: pointer">close</mat-icon>
          <h3>{{noteCategory.title}}</h3>
          {{noteCategory.text}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <nav class="container">
    <!-- TODO: create addNote method-->
    <a target="_blank" tooltip="Aggiugi nota" class="buttons" (click)="addNote()">
      <mat-icon class="center-icon-add">description</mat-icon>
    </a>
    <!-- TODO: create addCategoryNote method-->
    <a tooltip="Aggiungi categoria" class="buttons" (click)="addCategoryNote()">
      <mat-icon class="center-icon-add">folder</mat-icon>
    </a>
    <a tooltip="Menu" class="buttons">
      <span>
        <span class="rotate"></span>
      </span>
    </a>
  </nav>
</div>