@import url(https://fonts.googleapis.com/css?family=UnifrakturMaguntia);

.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#3f51b5;
  color:#FFF;
}

.attributes-card {
  background-color: white;
  cursor: pointer;
}

/*note css*/

.sticky {
  margin-top: 30px;
  padding: 2em;
  background: #EE9;
  display: inline-block;
  height: 15em;
  width: 15em;
  box-shadow: 0.2em 0.3em 0.5em #757513;
  font-size: 15px
}

.margin {
  margin-bottom: 15px;
}