<app-nav-bar></app-nav-bar>
<div style="display: flex">
  <app-side-bar *ngIf="sideNavService.hideSideNav" class="sidebar"></app-side-bar>
  <div class="card-section" style="width: 100%" [style.marginLeft.px]=sideBarService.sidebarWidth>
    <h3 mat-subheader>Notes</h3>
    <mat-divider></mat-divider>
    <mat-card class="example-card" *ngFor="let noteCategory of noteCategories" style="margin-top: 30px;">
      <mat-card-header [ngClass]="{margin: !collapsed}" (click)="collapsed=!collapsed" style="cursor: pointer">
        <h3>{{noteCategory.name}}</h3>
      </mat-card-header>
      <mat-card-content *ngIf="!collapsed">
        <mat-divider></mat-divider>
        <div class="sticky" *ngFor="let nota of note" style="margin-top: 30px;">
          <mat-icon mat-list-icon style="float: right; cursor: pointer">close</mat-icon>
          <h3>{{nota.title}}</h3>
          {{nota.text}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <nav class="container">
    <!-- TODO: create addNote method-->
    <a target="_blank" tooltip="Aggiugi nota" class="buttons" (click)="addNote()">
      <mat-icon class="center-icon-add">description</mat-icon>
    </a>
    <!-- TODO: create addCategoryNote method-->
    <a tooltip="Aggiungi categoria" class="buttons" (click)="addCategoryNote()">
      <mat-icon class="center-icon-add">folder</mat-icon>
    </a>
    <a tooltip="Menu" class="buttons">
      <span>
        <span class="rotate"></span>
      </span>
    </a>
  </nav>
</div>