<app-nav-bar></app-nav-bar>
<div style="display: flex">
  <app-side-bar *ngIf="sideNavService.hideSideNav" class="sidebar"></app-side-bar>
  <div class="card-section" style="width: 100%" [style.marginLeft.px]=sideBarService.sidebarWidth>
    <h3 mat-subheader>Notes</h3>
    <mat-divider></mat-divider>
    <mat-card *ngFor="let categoryNote of categoriesNote; let i = index;" class="space-note" [attr.data-index]="i"
      style="padding: 0;">
      <mat-card-header style="cursor: pointer; background-color: #3f51b5; box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px;">
        <h3 style="color: white; width: 93%;" (click)="collapsed[i] = !collapsed[i];">{{categoryNote.category}}</h3>
        <button class="delete-category" (click)="openDeleteNoteCategory(categoryNote._id)">
          <img src="../../assets/baseline_close_white_48dp.png" alt="chiudi" width="24" height="24">
        </button>
      </mat-card-header>
      <mat-card-content *ngIf="collapsed[i]" style="padding: 0 30px 30px 30px;">
        <mat-divider></mat-divider>
        <div class="sticky" *ngFor="let noteCategory of categoryNote.notes" style="margin-top: 30px;">
          <mat-icon mat-list-icon style="float: right; cursor: pointer" (click)="deleteNote(this.noteCategory._id)">
            close</mat-icon>
          <h3>{{noteCategory.title}}</h3>
          {{noteCategory.text}}
          <!-- Bau -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <nav class="container">
    <!-- TODO: create addNote method-->
    <a target="_blank" tooltip="Aggiugi nota" class="buttons" (click)="addNotep()">
      <mat-icon class="center-icon-add">description</mat-icon>
    </a>
    <!-- TODO: create addCategoryNote method-->
    <a tooltip="Aggiungi categoria" class="buttons" (click)="addNoteCategories()">
      <mat-icon class="center-icon-add">folder</mat-icon>
    </a>
    <a tooltip="Menu" class="buttons">
      <span>
        <span class="rotate"></span>
      </span>
    </a>
  </nav>
</div>