/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  margin: 0;
}

input[type="text"].search-style::-webkit-input-placeholder {
  color: rgb(121, 121, 121);
  font-size: 18px;
}

p {
  color: black;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #3f51b5;
  height: 64px;
  padding: 0;
}

.button-hamburger {
  background-color: #217bcc;
  border: none;
  height: 64px;
}

.button-hamburger:hover {
  background-color: #1f72bc;
}

*:focus {
  outline: none !important;
}

.search-style {
  height: 35px;
  width: 500px;
  border: 0 solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
  display: block;
  background-color: white;
  padding-left: 10px;
  color: rgb(51, 51, 51);
  font-size: 18px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Modal styles */
.top-bar {
  background-color: #3f51b5;
  padding: 20px 0 20px 0;
  display: flex;
  position: relative;
}

.top-bar-delete {
  background-color: #ba3f3f;
  padding: 20px 0 20px 0;
  display: flex;
  position: relative;
}

.title-modal {
  color: white;
  margin: auto;
}

.close-modal-button {
  position: absolute;
  right: 24px;
  background-color: #3f51b5;
  border: none;
  cursor: pointer;
}

.close-modal-button-delete {
  position: absolute;
  right: 24px;
  background-color: #ba3f3f;
  border: none;
  cursor: pointer;
}

.padding-modal {
  padding: 24px 35px;
}
.mat-dialog-container {
  padding: 0 !important;
}
.form-url {
  width: 100%;
  margin-top: 15px;
}
.user-container {
  display: flex;
  justify-content: space-between;
}
.name-width {
  width: 45%;
}
.site-section {
  display: flex;
  justify-content: space-between;
}
.note-section {
  width: 100%;
  margin-bottom: 50px;
}
.button-space {
  margin-right: 20px !important;
}
.params-required {
  color: #ba3f3f;
  font-size: 14px;
}

.save-button {
  position: absolute !important;
  top: 85% !important; 
  left: 95% !important;
  transform: translate(-85%) !important;
}

.undo-button {
  position: absolute !important;
  top: 85% !important;
  left: 85% !important; 
  transform: translate(-85%) !important;
}

.center-category {
  position: absolute !important;
  top: 30% !important;
}

.position-relative {
  position: relative;
}

.card-section {
  background-color: #fafafa;
  padding: 30px 150px 30px 150px;
}

.green-snackbar {
  background: #50b553;
  color: white;
}

.red-snackbar {
  background: #ba3f3f;
  color: white;
}

.d-flex {
  display: flex;
}

.content-flex-end {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
}

.content-space-between {
  justify-content: space-between;
}

.delete-button {
  background-color: #ba3f3f;
}

.w-100 {
  width: 100%;
}

.w-500 {
  width: 500px;
}

.card-authentication {
  max-width: 750px;
  margin: 100px auto;
}

.text-center {
  text-align: center;
}

.mat-select-placeholder {
  color: white !important;
}

.mat-select-arrow {
  color: white !important;
}

/** MARGIN **/

.mt-0 {
  margin-top: 0 !important;
}

.m-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ma {
  margin: auto !important;
}

.p-50 {
  padding: 50px !important;
}

/** COLORS **/

.white {
  color: white;
}

.sidebar {
  background-color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

/** CSS for FAB button **/

.container {
  margin: 2.5em;
  position: fixed;
  bottom: 0;
  right: 0;
}

.container:hover .buttons:not(:last-of-type) {
  width: 40px;
  height: 40px;
  margin: 15px auto 0;
  opacity: 1;
}

.container:hover .rotate {
  background-image: url("https://goo.gl/0eJslQ");
  transform: rotate(0deg);
}

.buttons {
  display: block;
  width: 35px;
  height: 35px;
  margin: 20px auto 0;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: .2s;
  color: white;
  cursor: pointer;
}

.buttons:nth-last-of-type(2) {
  transition-delay: 20ms;
}

.buttons:nth-last-of-type(3) {
  transition-delay: 40ms;
}

.buttons:nth-last-of-type(1) {
  width: 56px;
  height: 56px;
  opacity: 1;
}

.buttons:nth-last-of-type(2) {
  background: #D2A518;
}

.buttons:nth-last-of-type(3) {
  background: #3C80F6;
}

.buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

span.rotate {
  background: #3f51b5 url("https://goo.gl/EfgECT") center no-repeat;
  position: absolute;
  transform: rotate(90deg);
  transition: .3s;
}

[tooltip]:before {
  content: attr(tooltip);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font: 500 12px Roboto;
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

[tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}

.center-icon-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
