<!-- Toolbar -->
<div [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a routerLink="/cards">
      <img src="../assets/logo.png" alt="" width="200" style="margin-left: 10px" class="cursor-pointer">
    </a>
    <input type="text" class="search-style" placeholder="Cerca" />
    <img src="../assets/user.png" alt="" width="30" style="margin-right: 10px;" class="cursor-pointer">
    <p class="cursor-pointer white-text">example@tuttomail.com</p>
  </mat-toolbar>

  <!-- TODO: fix sidebar that doesn't show up! Fuck! -->
  <nav>
    <a routerLink="/cards">Card</a>
  </nav>
  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="height: 500px; width: 500px;">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let field of fields">{{field.description}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <button mat-fab class="float" (click)="openAddDialog()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
